@page "/"
@page "/events"
@using WebApp.Components.UI
@using WebApp.Components.Event

<PageTitle>Home</PageTitle>
<div class="flex justify-center ">
    <EventCard/>
    <AuthorizeView>
        <p>Hello, @context.User.Identity?.Name!</p>
    </AuthorizeView>
</div>

