
<div class="flex justify-between sm:justify-center">
    <Tab Icon="fa-regular fa-calendar" Text="Events" Selected="true" />
    <Tab Icon="fa-solid fa-user" Text="Members" />
    <Tab Icon="fa-solid fa-location-dot" Text="Venues"/>
</div>

@code {
    // Your code here
}
