@inherits WebApp.Components.UI.SparkComponent


<div class="flex h-8 mx-4 pr-0 align-start items-center gap-4">
    <div class="h-8 w-8 rounded-full flex justify-center items-center">
    <IconLuma/>
    </div>
    <div class="flex-col w-full justify-center shrink-0">
        <div class="text-l font-sm text-foreground">.NET Live Watch Party</div>
        <div class="text-xs text-muted-foreground ">14-Nov-2023</div>
    </div>
        @ChildContent
</div> 